/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  color: #fff;
}
body {
  margin-bottom: 60px;
  color: #fff;
  overflow-y: scroll;
  padding-top: 50px;
}
.navbar-nav > li{
  margin: 0 25px;
}
#elastic-grid{ position: relative; }
#canvas{
  position: absolute;
  left: 0;
  top: -100px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.modal, .modal a, .modal a:hover, .panel-title a:hover{
  color: #434343;
}
.modal-header{
  height: 140px;
  color: #ffffff;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.modal-header .container{
  background-repeat: no-repeat;
  background-position: right center;
}
/*modals*/
#modal-pruebalo .modal-header{ background-color: #2d6d00; }
#modal-pruebalo .modal-header .container{ background-image: url(../img/modals/modal-pruebalo.png); }
#modal-diabetico .modal-header{ background-color: #2d6d00; }
#modal-diabetico .modal-header .container{ background-image: url(../img/modals/modal-diabetico.png); }
#modal-historia .modal-header{ background-color: #8b0124; }
#modal-historia .modal-header .container{ background-image: url(../img/modals/modal-historia.png); }
#modal-queesobela .modal-header{ background-color: #ff6800; }
#modal-queesobela .modal-header .container{ background-image: url(../img/modals/modal-queesobela.png); }
#modal-hummus .modal-header{ background-color: #2d6d00; }
#modal-hummus .modal-header .container{ background-image: url(../img/modals/modal-hummus.png); }
.modal-lg{
  width: 100%;
  height: 100%;
}
.modal-dialog {
  margin-top: 50px;
  margin-bottom: 0px;
}
.modal-lg .modal-content {
  width: 100%;
  min-height: 100%;
  box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.relative{ position: relative; }
.absolute{ position: absolute; }
.mobile{ display: none; }
.obelaizer.yellow, .yellow{ color: #dfe130; }
.cherry, .obelaizer.cherry{ color: #a20425; }
.white{ color: #ffffff; }
.green, .obelaizer.green{ color: #c5d12c; }
.container{
  margin: 0 auto;
}
.container.wmax{ padding: 0; }
.full-bg{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.full-height{ height: 100%; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
    background-color: #A3052D;
}
.margin-reset{ margin: 0; }
.padding-reset{ padding: 0; }
.full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.table{
  display: table;
  height: 100%;
  width: 100%;
}
.cell-center{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.cell-bottom{
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  padding-bottom: 15px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
/*diseño*/
.navbar{
	background: #a3052d;	
}
.navbar-default .navbar-nav > li > a {
  color: #FAFAFA;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}
.navbar-fixed-top li > a{
	font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
}
/*menu centrado*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.wmax{
  /*max-width: 1200px;*/
  width: 100%;
}
..carousel-indicators{
    border: 0px solid #fff;
}
.carousel-indicators .active{
  background-color: #D2DE24;

}
body{
  background: #8b0124;
}
/*classes*/
.sinEspacio{
  padding:0px;
  margin:0px; 
}
/*footer*/
footer{
	text-transform: uppercase;
}
/*home*/
.row.home{
	padding: 0px;
	margin: 0px;	
}
/*recetas*/
#preparacion-receta{ background-color: #a3052d; }
#receta-preparacion{
  padding-left: 15px;
}
.grid{
  padding: 0;
}
#comprar .grid-over,
#nosotros .grid-over,
#home .grid-over,
.productos > .grid .grid-over{
  background-color: none;
  background-color: transparent;
  display: block;
}
.grid{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: relative;
  top: 100px;
}
.grid p {
  font-family: "obela_handbold";
  color: #ffffff;
  font-size: 47px;
  font-weight: normal;
  width: 80%;
  margin: 0 auto;
  line-height: 38px;
}
.receta-wrapper{
  width: 90%;
  margin: 0 auto;
}
#receta-ingredientes{
  list-style: none;
}
#receta-ingredientes li{
  list-style: none;
}
#producto-ingredientes{
  margin-bottom: 60px;
}
.underline-recipe{
  width: 80%;
  height: 3px;
  background-color: #ffffff;
  margin: 10px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.grid:hover .grid-over{
  display: block;
}
.grid-over{
  background-color: #dc022a;
  display: none;
}
.obela-smile{
  width: 100%;
  margin-top: 20px;
}
/*receta-interior*/
#receta-titulo{
  text-indent: 25px;
}
.recetaindividual h2{
  font-family: "obela_handbold";
  color:#dfe130;
  font-size: 30px;
}
.recetaindividual p{
  font-family: "obela_handbold";
  color: #ffffff;
  font-size: 22px;
}
.recetaindividual h3{
  font-family: "obela_handbold";
  color:#dfe130;
  font-size: 35px;
}
.recetaindividual li{
  font-family: "obela_handbold";
  color:#ffffff;
  font-size: 22px;
}
.recetaindividual .ingredientes{
  background:#8b0124;
}
.recetaindividual .preparacion{
  background:#a3052d;
}
.divisor{
  float: left;
  height: 230px;
  width: 100%;
  background-position: center center;  
  background-repeat: no-repeat;
}
.invert-char{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
  margin-right: 3px;
}
#recetas-divisor{
  background-color: #2d6d00;
  background-image: url(../img/recetas-middle-divisor.png);
}
#receta-divisor{
  background-color: #ffa000;
  background-image: url(../img/receta-divisor.png);
}
#producto-divisor{
  background-color: #b41937;
  background-image: url(../img/producto-divisor.png);
  background-image: url(../img/producto-divisor-left.png), url(../img/producto-divisor-right.png);
  background-position: left, right;
}
#recetas-divisor-bottom{
  background-color: #dc022a;
  background-image: url(../img/recetas-bottom-divisor.png);
}
#recetas-divisor-bottom .copies{
  margin-top: 30px;
}
#recetas-divisor-bottom .copies > .obelaizer{
  line-height: 35px;
}
#receta-divisor p.obelaizer{
  font-size: 46px;
  line-height: 33px;
}
#receta-divisor h1.obelaizer { font-size: 60px; }
.obelaizer{
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  color: #ffffff;
  font-family: "obela_handbold";
  font-size: 52px;
  line-height: 41px;
}
h1.obelaizer{ font-size: 65px; }
.obelaizer-letter{
  position: relative;
  top: 5px;
}
footer ul li{
  list-style-type: none;
  font-size: 12px;
  display: inline;
  /*float: left;*/
  padding: 2px !important;
  margin-left: 2px;
}
footer ul li a{
  color:#fff;
}
footer .container{
  background: #A3052D;
}
.ingredientes h4{
  text-transform: uppercase;
  color:#fff;
  font-size: 12px;
}
.ingredientes .inforeceta p,.ingredientes .inforeceta h4{
  text-align: left;
}
.interiorproducto .ingredientes p{
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
.interiorproducto h2,.interiorproducto h3{
  font-size: 20px;
  color:#dfe130;
  text-transform: uppercase;
}
.interiorproducto li{
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
}
.interiorproducto .ingredientes{
  background: #a3052d;
}
.interiorproducto p{
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}
.interiorproducto .imagenreceta{
  padding-right: 0px;
}
.interiorproducto .informacion{
  padding-left: 0px;
}
.interiorproducto .ingredientes,.interiorproducto .descripcion{
  padding-left: 25px;
}
.interiorproducto li{
  margin-left: -30px;
}
.interiorproducto .ingredientes{
  padding-top: 15px;
  padding-bottom: 15px;
}

/*.recetas .homehover{
  color:#fff;
  position: absolute;
  top: 100%;
  padding: 15px;
  padding-top: 1px;
  left: 0px;
  margin-left: 0px;      
}*/
.recetas .homehover li{
  text-transform: uppercase;
}
.recetas .pantalla{
  background: rgba(111, 111, 0,1);
  height: 100%;
}
.recetas .homehover li{
  list-style: none;
  position: relative;
  left: -10px;
  top:-35px;
  font-size: 11px;
}
.ubicacion .header-ubicacion{
  background:#d33228;
  padding:20px; 
}
.ubicacion .header-ubicacion h1{
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.header-img{
  position: absolute;
  right: 0px;
  top: 5px;
}
.textomapa{
  background:#6c6b01;
  padding: 15px;
  text-transform: uppercase;
}

.textomapa img{
  min-width: 50px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#map-canvas {
  height: 100%; margin: 0; padding: 0;
  min-height: 600px;
}
.row.historia .col-md-12 p{
  padding: 10px;
  text-transform: uppercase;
}
.row.historia .col-md-12{
  background: #fffbf0;
}
.ingredientes li{
    list-style-type: none;
}
ul.compartirEn li{
  list-style-type:none;
  display: inline;
}
a {
  color: #fff;
  text-decoration: none;
}
.recetas .masreceta h3{
    text-align: center;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.imgreceta{
  position: relative;
  /*left: 50%;*/
  /*margin-left: -50%;*/
}

/*icons*/
#home .container-networks{ margin-top: 20px; }
#home .container-networks .icon-network{
  background-color: transparent;
}
.icon-network{
  width: 30px;
  height: 30px;
  background-color: #800b28;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  position: relative;
  top: 6px;
}
.icon-container h3{
  line-height: 14px;
  margin: 5px 0;
  font-family: 'obela_handregular';
}
.icon-container h3 span{
  margin: 0;
  font-family: 'obela_handbold';
}
.icon{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  display: block;
}
.icon:hover,
.icon-network:hover{
  opacity: 0.7;
}
.fb-icon {
  width: 9px;
  height: 18px;
  background-position: -2px -2px;
  margin-left: 5px;
  margin-top: 1px;
}
.icon-network{
  background-position: -2px -2px;
  margin-left: 5px;
  margin-top: 1px; 
}
.ig-icon {
  width: 15px;
  height: 16px;
  background-position: -15px -2px;
  margin-left: 2px;
  margin-top: 2px;
}

.portions-icon {
  width: 17px;
  height: 35px;
  background-position: -34px -2px;
}

.prep-icon {
  width: 28px;
  height: 34px;
  background-position: -55px -2px;
}

.tiempo-icon {
  width: 29px;
  height: 32px;
  background-position: -55px -40px;
}

.tw-icon {
  width: 19px;
  height: 15px;
  background-position: -2px -40px;
  margin-top: 2px;
}
.flecha-descripcion{
  position: absolute;
  right: 30%;
  top: -30px;
  background-image: url(../img/flecha-abajo.png);
  width: 56px;
  height: 80px;
}